body {
  box-sizing: border-box;
  background-color: khaki;
}

.card {
  background-color: white;
  text-align: center;

  margin: auto;
  padding: 20px;
  padding-top: 180px;
  width: 250px;
  height: 200px;
  font-size: 50px;
  border-radius: 10px;
  position: relative;
}

.symbol-top {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}
.symbol-footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
  transform: rotate(180deg);
}
